<%- include("partials/header") %>
<h1>Create and New campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="Name" id="">
    <input type="text" name="image" placeholder="Img Url" id="">

    <button>Submit</button>
</form>


<a href="/campgrounds">Back to listings</a>
<%- include("partials/header") %>